<!DOCTYPE html>
<html>
  <head>
    <style>
div.container {
        width: 100%;
        border:1px solid gray;
      }
      
      header,footer {
        padding: 1em;
        color: white;
        background-color: black;
        clear: middle;
        text-align: center;
        }
      .text{
        text-align: center
      }
    </style>
    <title>Home</title>
 </head>
  <body>
    <img src="Japan_garden.jpg" alt="Japan garden" align="center">
    
    <h1 class="text">JAPAN TRIP!</h1>
    <%= link_to "Alpha blog", articles_path %> | <%= link_to 'About', about_path %>
    <p>August 1st 2017</p>
    <p>This picture was taken in "Meiji Jingu Inner Garden in Shibuya Tokyo, Japan. </p>
    <p>On this trip i met i good friend from Santiago, Chile. We spend the most of the his stay there hangin out and traveling through Japan.</p>
  <h2>Coming back to the Japan.</h2>
    <p>I will be going to Japan, again soon. My goal is to become a software engenier and save money, and travel the world for a year.</p>
    <footer>Copyright &copy; Iovanny.com</footer>
  </body>
</html>