<div class="container">
  <footer calss="footer">
    <small>
      Copyright &copy; <a>No money Project</a>
      by <a href="oenjad@gmail.com">Iovanny Arroyo</a>
    </small>
    <nav>
      <ul>
        <li><%= link_to "About", about_path %></li>
      </ul>
    </nav>
  </footer>
</div>